.weather{
    text-align:center;
}

p{
    color:#FFFBEB;
    font-weight: bold;
}


.temp-current{
    font-size: 28px;
    color: #FFFBEB;
    display:inline-block;
    padding-right:20px;
}

.temp-low{
    font-size: 28px;
    color: #FFFBEB;
    display:inline-block;
    padding-right: 50px;
    padding-left:40px;
}

.temp-high{
    font-size: 28px;
    color: #FFFBEB;
    display:inline-block;
    padding-right: 50px;
}